<h1>
    <span
    class="material-icons-outlined full-star"
    (click)="onClick()"
    *ngIf="!isTrue"
  >
    star_outline star_outline star_outline star_outline star_outline
  </span>
  <span
    class="material-icons-outlined full-star"
    (click)="onClick()"
    *ngIf="isTrue"
  >
    star star_outline star_outline star_outline star_outline
  </span>

  <span
    class="material-icons-outlined full-star"
    (click)="onClick()"
    *ngIf="isTrue"
  >
    star start star_outline star_outline star_outline
    
</span>

  <span
    class="material-icons-outlined full-star"
    (click)="onClick()"
    *ngIf="isTrue"
  >
    star star star star_outline star_outline
  </span>

  <span
    class="material-icons-outlined full-star"
    (click)="onClick()"
    *ngIf="isTrue"
  >
    star star star star star
  </span>
  
  <span
    class="material-icons-outlined full-star"
    (click)="onClick()"
    *ngIf="isTrue"
  >
    star star star star star
  </span>
</h1>
